#wrap {
  max-width: 992px;
}

header[role="banner"] {
  @include clearfix;
  text-align:left;
}

#sitenav {
  clear:both;
}

footer[role=contentinfo] {
  padding:0;

  nav {
    @include span-columns(4, 8);
  }

  #footer-text {
    @include span-columns(4 omega, 8);
  }
}
